.imgBlock {
  width: 250px;
  height: 161px;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploadCom {
  .ant-upload {
    background: rgba(0, 0, 0, 0.04);
  }

  .icon {
    svg {
      width: 17px;
      height: 17px;
    }
  }

  .text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
  }
}
