
// @import '~@static/variable.less';

.smartTable {
  margin: 20px 0;
  // margin-bottom: 20px;

  // .actionCol a {
  //   margin-right: 10px;
  //   padding: 0 15px;
  //   border-right: 2px solid @primary;
  //   display: inline-block;
  // }
  th {
    text-align: center!important;
  }
  td {
    text-align: center!important;
  }
}
