@import '../../../static/css/variable.less';

.inspectPlanCalendar {
  display: flex;

  .smartCalendar {
    flex: 1;
  }

  .dayCellClassNames {
    // width: 110px;
    // height: 130px;
    .fc-daygrid-day-top {
      flex-direction: initial;
    }
    .dayText {
      font-size: 14px;
      font-weight: 400;
      color: #aaaaaa;
    }
  }

  .eventWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1bb65c;
    height: 20px;
    font-size: 14px;
    .anticon-close {
      color: #fff;
      color: #1bb65c;
    }
  }

  .rightTable {
    margin-left: 10px;
  }

  .leftTable {
    margin-right: 10px;
  }

  #dataListWrapper {
    overflow-y: scroll;
    max-height: 500px;
    // width: 300px;
    width: 220px;
    // min-width: 300px;
    overflow-x: hidden;

    display: inline-flex;
    flex-direction: column;

    font-size: 14px;
    font-weight: 400;
    color: #333333;
    .absoulte {
      position: absolute;
    }

    .titleRow {
      // position: absolute;

      align-items: center;
      padding: 10px 20px;

      // min-width: 300px;
      // width: 300px;
      width: 220px;
      height: 37px;
      background: #ffffff;
      border: 1px solid rgba(170, 170, 170, 0.14901960784313725);
    }
    .dragItem {
      cursor: grab;
    }
    .rowItem {
      align-items: center;
      padding: 10px 20px;
      border: 1px solid rgba(170, 170, 170, 0.14901960784313725);
    }
    .left {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
