@import '../../../static/css/variable.less';

.titleWrapper {
  padding: 20px 0;
  padding-bottom: 0;
}

.pageTitle {
  font-size: 16px;
  padding-left: 14px;
  border-left: 4px solid @primary;
  font-weight: bold;
}
