@import '../../../static/css/variable.less';

.pageTitleWrapper {
  padding-bottom: 20px;
  white-space: nowrap;
}

.titleWrapper {
  // padding: 20px 0;
  padding-bottom: 0;
}

.content {
  .pageTitle {
    margin-left: -20px;
    // margin-top: 0px;
  }
}

.paddingTop {
  padding-top: 20px;
  flex: 0 0 20px;
}
.pageTitle {
  // margin-top: 20px;
  font-size: 16px;
  padding-left: 14px;
  border-left: 4px solid @primary;
  font-weight: bold;
}
