.smartForm {
  // margin-bottom: 20px;

  .ant-btn-primary {
    margin-left: 10px;
  }

  .ant-picker{
    width: 100%; 
  }
  
}

.noMBottom {
  margin-bottom: 0;
}

.dynamicFormWrapper{
  
}

.rowText{
  label{
    color: #aaa; 
  }
}


.dynamicFormItem {
  &:last-child {
    margin-bottom: 0;

  }
  .inlineInput {
    width: 50%;
  }
  .actionBtn {
    margin-left: 10px;
  }
}
