.headerWidget {
  .bigScreen {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #333333;
  }
  .bigScreen {
    margin-right: 10px;
  }

  .yAxis {
    width: 1px;
    height: 21px;
    color: #f4f4f4;
    background: #f4f4f4;
  }
}
