
.smartModal{
  .ant-modal-title{
    font-size: 14px;
    font-weight: bold;
  }
  
  
  .ant-modal-footer{
    text-align: center;
    .ant-btn{
      width: 120px;
    }
  }
  
  .ant-modal-body{ 
    // display: flex;
    // justify-content: center;
    // align-items: center;
    
    
  }
  
}


