.smartModal {
  &.smallModal {
    .ant-modal-footer {
      border-top: none;
    }
    .ant-modal-body {
      padding: 30px 20px;
      padding-bottom: 0;
      .lastFormItem {
        margin-bottom: 0;
      }
    }
  }

  .ant-modal-title {
    font-size: 14px;
    font-weight: bold;
  }

  .ant-modal-footer {
    text-align: center;
    padding: 30px 16px;
    .ant-btn {
      width: 120px;
    }
  }

  &.commonModal {
    .ant-modal-body {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      padding: 20px 20px;
      padding: 20px 44px;
    }
  }
}
