.assetTree {
  margin-top: 10px;
  .treeStruct {
    border-right: 1px solid #eee;
    padding-right: 20px;
  }

  .anticon {
    margin-left: 10px;
  }
  .treeNode {
    margin-right: 20px;
  }
  .searchInput {
    margin-bottom: 10px;
  }

  .site-tree-search-value {
    color: #f50;
  }
  .ant-tree-title {
    display: flex;
  }
  .saveBtn {
    margin-top: 10px;
  }
  .assetNameInput {
    width: 100px;
  }
  .smartForm {
    margin-top: 20px;
  }
}
