.qrcodeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-weight: bold;
    font-size: 16px;
    // margin-bottom: 20px;
    margin: 20px 0;
  }
  .btnWrapper {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .ant-btn {
    width: 120px;
    &:not(:last-child) {
      margin-right: qrcodeWrapper;
    }
  }
}
.fullFixed {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: white;
}
