@import '../../../static/css/variable.less'; //

.ant-tabs-ink-bar {
  height: 4px !important;
}

.homeStatEchartsWrapper {
  margin-top: 20px;
  .statTabPanes {
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      margin-bottom: 20px;
    }
  }

  .homeGroupRankWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
