.workOrderTicketForm {
  .w50 {
    width: 50%;
    display: inline-flex;
  }
  // .formItems{
  //   // .ant-input-affix-wrapper,
  //   .textAreaCls{
  //     width: 100%!important;
  //   }

  // }
  .infoRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .inputFormWrapper {
    display: inline-flex;
  }
  .ant-form-item-no-colon::before {
    display: none !important;
  }
}
