.csHome {
  .csHomeVideo {
    .smartVideo {
      height: 100% !important;
    }
  }

  .miniPower {
    margin: 20px 0;
    width: 20px;
    height: 20px;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 20px;
  }
  .monitorWrapper {
    margin: 10px 0;
    height: 290px;
    .left {
      flex: 1;
      display: flex;
    }
    .center {
      flex: 2;
      display: flex;
    }
    .right {
      flex: 1;
      display: flex;
    }
  }
  .selectWrapper {
    margin: 20px 0;
    display: flex;
    align-items: center;
    .label {
      font-size: 14px;
      font-weight: bold;
      color: #333333;
      margin-right: 20px;
    }
  }
}
