.ant-pro-basicLayout-content {
  margin: 0 !important;
}

.layoutContainer {
  width: 100%;
  height: 100%;
}

.container {
  background: #fff;
  text-align: center;
  margin: 15px;
  padding: 20px;
  // minHeight: 100px;

  // width: 100%;
  height: 100%;
}
