.clientClueForm {
  // .fixWidth{
  //   // display: block!important;
  //   .ant-form-item-label {
  //     width: 102px !important;
  //   }
  //   .ant-form-item-control {
  //     // width: 100% !important;
  //   }
  // }

  .rowText {
    margin-top: 0;
  }

  .rowInput {
    width: 580px !important;
  }

  .uploadFormItem {
    display: flex;
  }

  .uploadBox {
    margin-bottom: 10px;
    .ant-form-item-control {
      // display: flex;
      // align-items: flex-end;
      // flex-direction: row;
    }

    .ant-form-item-control-input {
      display: inline-flex;
    }
    .ant-form-item-extra {
      display: inline-flex;
    }
  }

  .collapseCom {
    margin-top: 20px;
    width: 100%;
    .ant-upload-list-picture-card-container {
      margin: 0px 3px 8px 0;
    }
  }

  .formRow {
    padding: 0 10px;
    .rowHeader {
      display: flex;
      align-items: center;
    }

    .listFormItem.formItems {
      display: flex;
    }
  }
}
