.exportPdfWrapper {
}

.inspectRecordForm {
  page-break-inside: avoid;
  .ant-form-horizontal > .ant-row {
    margin: 0 10px !important;
  }
  .withBefore {
    .ant-input-affix-wrapper {
      width: 130px !important;
    }
  }

  .ant-input-group-addon {
    width: 70px;
  }

  .smartForm {
    page-break-inside: avoid;
  }
  .ant-tabs-nav {
    margin-bottom: 0;
  }
  .ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none;
  }
}
