.assetsInfo {
  .assetsContent {
    display: flex;
  }

  .collapseWrapper {
    padding-right: 40px;
    border-right: 1px solid #d9d9d9;
    width: fit-content;
    // display: inline-block;
    .ant-collapse-arrow {
      color: rgba(0, 0, 0, 0.25);
    }

    .ant-collapse-content-box {
      padding: 0 !important;
      .item {
        display: block;
        padding-left: 40px;
        .active {
          color: ;
        }
      }
    }
  }

  .assetsInfoWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    .assetsInfoTabs {
      // display: inline-block;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      margin: 0 auto;
      .ant-tab {
        width: fit-content;
      }
    }
    .listWrapper {
      display: flex;
      justify-content: space-evenly;
      .ant-list {
        min-width: 300px;
        min-width: 260px;
      }

      .ant-list-header {
        background: rgb(232, 247, 239);
        border-radius: 2px;
        color: #1bb65c;
      }
      .ant-list-item {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
