.csHomeMonitorVideo {
  display: flex;
  flex-direction: column;
  flex: 1;
  .row {
    margin-bottom: 10px;
    font-size: 14px;
    .monitorTitle {
      color: #333333;
      font-weight: bold;
    }
    .seeMore {
      color: #00b460;
    }
  }
  .monitorVideo {
    flex: 1;
    display: flex;
    background: #000000;
    // opacity: 0.4;
    border-radius: 5px;
    &.first {
      margin-bottom: 10px;
    }
    .smartVideo {
      height: 120px !important;
    }
  }
}
